*.xz filter=lfs diff=lfs merge=lfs -text
Cocoa/external_modules/data/act/lensing/v1.1/like_corrs/*.txt filter=lfs diff=lfs merge=lfs -text
Cocoa/external_modules/data/act/lensing/v1.1/like_corrs/*.npy filter=lfs diff=lfs merge=lfs -text
